@import "tailwindcss";


body{

 display: flex;
 flex-direction: column;
 /* justify-content: center; */
 /* align-items: center; */

}
.boxA{
  
  /* padding: 20px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.boxB{
  border-radius: 20px;
  /* padding: 20px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;

}